<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align='center'>
        <hr>
        {% if user.is_authenticated %}
            <h1>환영합니다! {{user.username}}님</h1>
            <img src='{{user.profile.image.url}}' alt=""><br><br>
            <form method='POST' action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        {% else %}
            <h1>환영합니다!</h1>
            <a href="{% url 'signup' %}">Signup</a> | 
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <hr>
    </div>
</body>
</html>